@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

html, body {
	background: radial-gradient(center center, circle cover, #89AA97 0%, #719480 100%);
  	background: -moz-radial-gradient(center center, circle cover, #89AA97 0%, #719480 100%);
  	background: -webkit-radial-gradient(center center, circle cover, #89AA97 0%, #719480 100%);
  	margin: 0;
  	padding: 0;
 	width:100%;
 	height:100%;
 	overflow:hidden;
 	font-family: 'Josefin Sans', sans-serif;
}

:root {
	--base:#FD7E89;
	--spacing:10px;
	--blur:5px;
}

.container {
	position:relative;
	width:700px;
	height:600px;
	margin:auto;
	margin-top: 80px;
	text-align:center;
}

h1 {
	color:#FFF798;
	margin-bottom: 30px;
}

.title_js {
	color: var(--base);
}
img {
	width:80%;
	margin-top: 30px;
	padding: var(--spacing);
	filter: blur(var(--blur));
	background: var(--base);
}

.controls {
	position:relative;
	margin: 0 auto;
	width:90%;
	font-size: 18px;
	color:#F4E3B7;
}
span {
	padding: 0 5px;
}
.spacing {
	float:left;
	margin-right: 40px;
}

.blur {
	float:left;
	margin-right: 40px;
}

.base_color {
	float:right;
}

input {
	width:90px;
}